/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.flash{
	color: limegreen;
}

.header{
	margin-left: 50px;
}

.main_top{
	margin-left: 90px;
	line-height: 50px;
}

.main_index{
	margin-left: 90px;
}
td{
	font-size: 12px;
}
h4{
	margin-bottom: 0;
}
.alert{
	width: 430px;
}
.alert_head{
	margin-top: 0;
	background-color: red;
	color: white;
	margin-bottom: 0;
}
ul{
	color: red;
	border-style: solid;
	border-color: red;
	margin-top: 0;
}
.index_from{
	margin-top: 0px;
}
.form_head{
	margin-bottom: 0;
}

.main_edit{
	margin-left: 90px;
}
.main_show{
	margin-left: 90px;
}